* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.espacamento {
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #1E6C93;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #1e6c93e5;
}

.nav-bar {
    width: 100%;
    height: 17%;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav-bar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 1000;
}

.img-logo-henrique {
    max-height: 35px;
    max-width: 225px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;

}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

a {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.texto-henrique-logo {
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 550px;
}

.texto-nav {
    font-size: 1.3rem;
}

.navegacao {
    position: relative;
    background-image: url(/img/Hamilton_-_2016_Monaco_GP_02.jpg);
    background-position: right center;
    background-size: cover;
    height: 375px;
    filter: brightness(0.9);
}

.navegacao-titulo {
    position: absolute; /* Adicionando posição absoluta */
    top: 170px; /* Ajuste a posição superior conforme necessário */
    left: 0; /* Ajuste a posição esquerda conforme necessário */
    right: 0; /* Ajuste a posição direita conforme necessário */
    font-size: 5.2rem;
    color: white;
    font-weight: 300;
    text-align: center;
    z-index: 1; /* Para garantir que o título esteja acima do background */
}

.img-lupa {
    width: 24px;
    text-decoration: none;
}

main {
    width: 95%;
    padding: 24px;
    margin: 0px;
}

section {
    display: flex;
}

.titulo-sobre-mim {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 2.9em;
}

.conteudo-1-section {
    width: 50%;

}

.conteudo-2-section {
    width: 50%;
}

.foto-minha {
    width: 100%;
    padding-right: 50px;
}

.foto-minha-section {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    height: 60%;
}

.paragrafo-apresentacao-sobre-mim {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F2F2F;
    font-size: 1.4em;
    line-height: 3;
    text-indent: 50px
}

.img-instagram {
    background-color: #FE005C;
    border-radius: 40px;
    margin: auto;
}

.instagram-centro {
    margin: auto;
}

.foto-codigo {
    margin: 0px 0px 0px 65px;
    width: 100%;
    width: 70%;
}

footer {
    background-color: black;
    padding: 30px;
}

.texto-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
}

@media screen and (min-width:  700px) and (max-width:  899px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 50px;
    }
}

@media screen and (min-width:  899px) and (max-width:  940px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 150px;
    }
}

@media screen and (min-width:  941px) and (max-width:  1031px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 200px;
    }
}

@media screen and (min-width:  1032px) and (max-width:  1080px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 299px;
    }
}

@media screen and (min-width:  1081px) and (max-width:  1199px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right:  320px;
    }
}


@media screen and (min-width:  1200px) and (max-width:  1400px){
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 450px;
    };
}

@media screen and (min-width:  1401px) and (max-width: 1510px){
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 650px;
    }
}

@media screen and (min-width:  1511px) and (max-width: 1620px){
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 755px;
    };
}

@media screen and (min-width: 1621px) and (max-width: 1670px){
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 855px;
    };
}

@media screen and (min-width: 1672px) {
    .texto-henrique-logo {
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 1150px;
    };
}


