/* Confg. gerais */

@import "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #4472C4;
}

.main {
    margin: 20px;
    width: 39vw;
}

.ye {
    padding: 100px;
    margin: 30px;
    background-color: #FFFF00;
}

.space {
    padding: 100px;
    margin: 45px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.no-flex {
    display: block;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.space-2-right {
    padding-right: 18.5vw;
    background-color: #FFFF00;
}

.space-3-right {
    padding-right: 39vw;
    background-color: #FFFF00;
}

.space-2-left {
    padding-left: 18.5vw;
    background-color: #FFFF00;
}

.space-2-bottom {
    padding-bottom: 23.5vh;
    background-color: #FFFF00;
}

.space-2-bottom-plus {
    padding-bottom: 33vh;
    background-color: #FFFF00;
}

.space-3-bottom {
    padding-bottom: 44.5vh;
    background-color: #FFFF00;
}

.space-3-bottom-plus {
    padding-bottom: 61.5vh;
    background-color: #FFFF00;
}